.header {
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;

  border-radius: 15px;
  border: black solid 3px;
  box-shadow: 4px 6px black;
  background-color: #F5F6ED;

  .title,
  .subtitle {
    text-transform: uppercase;
  }

  .title {
    margin-block: 0 0.5rem;
    font-size: 3rem;
    text-shadow: 1px 2px #facf7480;
  }
  .subtitle {
    font-family: 'Kanit', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #3300ff;
  }
}