.table-wrap {
  perspective: 400px;
  margin-bottom: 20px;
  position: relative;

  .subject-title {
    position: absolute;
    padding: 10px;
    color: rgba(0, 0, 0, 0.9);
    background: #ffffff;
    z-index: 50;
    bottom: 85%;
    display: none;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
  }

  .table {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    height: 140px;
    min-width: 275px;
    width: max-content;
    margin: 0 auto;
    padding: 15px;
    background: linear-gradient(#dd992d, #cd8c26);
    box-shadow: 0px 25px 10px rgba(0, 0, 0, 0.2);
    transform: rotateX(20deg);
    transform-origin: bottom;

    @media (max-width:650px) {
      padding: 15px 10px;
      column-gap: 15px;
    }
  }
  
  .table-edge {
    margin: 0 auto 10px auto;
    min-width: 275px; 
    background: #ac741c;
    height: 15px;
    transform: rotateX(-40deg);
    transform-origin: top;
    position: relative;
  
    .table-leg {
      width: 24px;
      height: 10px;
      background: #84570f;
      position: absolute;
      top: 15px;
    }
  
    .table-leg_left {
      left: 20px;
    }
  
    .table-leg_rigth {
      right: 20px;
    }
  }

  @media (max-width: 950px) {
    transform: scale(0.9);
  }

  @media (max-width: 650px) {
    transform: scale(0.8);
  }
}